@import '~bootstrap/scss/bootstrap.scss';

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

@import 'theme/variables';
@import 'theme/typography';
@import 'theme/navigation';
@import 'theme/top_navigation';
@import 'theme/buttons';
@import 'theme/badges_labels';
@import 'theme/elements.scss';
//@import "theme/sidebar.scss";
@import 'theme/base.scss';
//@import "theme/pages.scss";
@import 'theme/spinners.scss';

// RTL Support
@import 'theme/rtl.scss';

// Media query style
@import 'theme/media.scss';
@import 'theme/iCheckbox';

@import 'theme/custom.scss';
@import 'theme/login';

// Clear layout on print mode
@media print {
  nav.navbar-static-side {
    display: none;
  }
  body {
    overflow: visible !important;
  }
  #page-wrapper {
    margin: 0;
  }
}
