/* PAGINATIN */

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  //background-color: #f4f4f4;
  border-color: #DDDDDD;
  //color: inherit;
  cursor: default;
  z-index: 2;
}

.pagination > li > a, .pagination > li > span {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 4px 10px;
  position: relative;
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: $navy;
  border-color: $navy;
}

.page-link:focus {
  box-shadow: none;
}

.page-link:hover {
  color: $text-color;
}

.pagination .footable-page.active a {
  background-color: $navy;
  border-color: $navy;
  color: white;
}

/* TOOLTIPS */

.tooltip-inner {
  background-color: $nav-bg;
}

.tooltip.top .tooltip-arrow {
  border-top-color: $nav-bg;
}

.tooltip.right .tooltip-arrow {
  border-right-color: $nav-bg;
}

.tooltip.bottom .tooltip-arrow {
  border-bottom-color: $nav-bg;
}

.tooltip.left .tooltip-arrow {
  border-left-color: $nav-bg;
}

/* INPUTS */
.inline {
  display: inline-block !important;
}

.input-s-sm {
  width: 120px;
}

.input-s {
  width: 200px;
}

.form-control {
  font-size: 0.9rem;
}

select.form-control:not([size]):not([multiple]) {
  height: 2.05rem;
}

.input-sm, .form-control-sm {
  height: 31px;
}

.input-s-lg {
  width: 250px;
}

.i-checks {
  padding-left: 0;
}

.form-control, .single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-control:focus, .single-line:focus {
  border-color: $navy;
}

.has-success .form-control, .has-success .form-control:focus {
  border-color: $navy;
}

.has-warning .form-control, .has-warning .form-control:focus {
  border-color: $yellow;
}

.has-error .form-control, .has-error .form-control:focus {
  border-color: $red;
}

.has-success .control-label {
  color: $navy;
}

.has-warning .control-label {
  color: $yellow;
}

.has-error .control-label {
  color: $red;
}

.input-group-addon {
  background-color: #fff;
  border: 1px solid #E5E6E7;
  border-radius: 1px;
  color: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  padding: 9px 12px 4px 12px;
  text-align: center;
}

.spinner-buttons.input-group-btn .btn-xs {
  line-height: 1.13;
}

.spinner-buttons.input-group-btn {
  width: 20%;
}

.noUi-connect {
  background: none repeat scroll 0 0 $navy;
  box-shadow: none;
}

.slider_red .noUi-connect {
  background: none repeat scroll 0 0 $red;
  box-shadow: none;
}

/* Toastr custom style */

#toast-container > div {
  -moz-box-shadow: 0 0 3px #999;
  -webkit-box-shadow: 0 0 3px #999;
  box-shadow: 0 0 3px #999;
  opacity: .9;
  -ms-filter: alpha(Opacity=90);
  filter: alpha(opacity=90)
}

#toast-container > :hover {
  -moz-box-shadow: 0 0 4px #999;
  -webkit-box-shadow: 0 0 4px #999;
  box-shadow: 0 0 4px #999;
  opacity: 1;
  -ms-filter: alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer
}

.toast {
  background-color: $navy
}

.toast-success {
  background-color: $navy
}

.toast-error {
  background-color: $red
}

.toast-info {
  background-color: $lazur
}

.toast-warning {
  background-color: $yellow
}

.toast-top-full-width {
  margin-top: 20px;
}

.toast-bottom-full-width {
  margin-bottom: 20px;
}

/* Image cropper style */
.img-container, .img-preview {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.img-preview-sm {
  height: 130px;
  width: 200px;
}

/* Tabs */
.tabs-container {

  .panel-body {
    background: #fff;
    border: 1px solid $border-color;
    border-radius: 2px;
    padding: 20px;
    position: relative;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border: 1px solid $border-color;
    border-bottom-color: transparent;
    background-color: #fff;
  }

  .nav-tabs > li {
    float: left;
    margin-bottom: -1px;
  }

  .tab-pane .panel-body {
    border-top: none;
  }

  .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid $border-color;
    border-bottom-color: transparent;
  }

  .nav-tabs {
    border-bottom: 1px solid $border-color;
  }

  .tab-pane .panel-body {
    border-top: none;
  }

  .tabs-left .tab-pane .panel-body, .tabs-right .tab-pane .panel-body {
    border-top: 1px solid $border-color;
  }

  .tabs-below > .nav-tabs,
  .tabs-right > .nav-tabs,
  .tabs-left > .nav-tabs {
    border-bottom: 0;
  }

  .tabs-left .panel-body {
    position: static;
  }

  .tabs-left > .nav-tabs, .tabs-right > .nav-tabs {
    width: 20%;
  }

  .tabs-left .panel-body {
    width: 80%;
    margin-left: 20%;
  }

  .tabs-right .panel-body {
    width: 80%;
    margin-right: 20%;
  }

  .tab-content > .tab-pane,
  .pill-content > .pill-pane {
    display: none;
  }

  .tab-content > .active,
  .pill-content > .active {
    display: block;
  }

  .tabs-below > .nav-tabs {
    border-top: 1px solid $border-color;
  }

  .tabs-below > .nav-tabs > li {
    margin-top: -1px;
    margin-bottom: 0;
  }

  .tabs-below > .nav-tabs > li > a {
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
  }

  .tabs-below > .nav-tabs > li > a:hover,
  .tabs-below > .nav-tabs > li > a:focus {
    border-top-color: $border-color;
    border-bottom-color: transparent;
  }

  .tabs-left > .nav-tabs > li,
  .tabs-right > .nav-tabs > li {
    float: none;
  }

  .tabs-left > .nav-tabs > li > a,
  .tabs-right > .nav-tabs > li > a {
    min-width: 124px;
    margin-right: 0;
    margin-bottom: 3px;
  }

  .tabs-left > .nav-tabs {
    float: left;
    margin-right: 19px;
  }

  .tabs-left > .nav-tabs > li > a {
    margin-right: -1px;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
  }

  .tabs-left > .nav-tabs a.active,
  .tabs-left > .nav-tabs a.active:hover,
  .tabs-left > .nav-tabs a.active:focus {
    border-color: $border-color transparent $border-color $border-color;
  }

  .tabs-right > .nav-tabs {
    float: right;
    margin-left: 19px;
  }

  .tabs-right > .nav-tabs > li > a {
    margin-left: -1px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
  }

  .tabs-right > .nav-tabs a.active,
  .tabs-right > .nav-tabs a.active:hover,
  .tabs-right > .nav-tabs a.active:focus {
    border-color: $border-color $border-color $border-color transparent;
    z-index: 1;
  }

  .tabs-right > .nav-tabs li {
    z-index: 1;
  }

}

.nav-tabs .nav-link:not(.active):focus, .nav-tabs .nav-link:not(.active):hover {
  border-color: transparent;
}

@media (max-width: 767px) {
  .tabs-container .nav-tabs > li {
    float: none !important;
  }

  .tabs-container .nav-tabs > li.active > a {
    border-bottom: 1px solid #e7eaec !important;
    margin: 0;
  }
}

/* Select2 custom styles */
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
  border-color: $border-color;
}

.select2-container--default.select2-container--focus .select2-selection--single,
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border-color: $navy;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $navy;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: $border-color;
}

.select2-dropdown {
  border-color: $border-color;

  input:focus {
    outline: none;
  }
}

.select2-selection {
  outline: none;
}

.ui-select-container.ui-select-bootstrap .ui-select-choices-row.active > a {
  background-color: $navy;
}

/* Code */

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: lighten($light-gray, 10%);
  border: 1px solid $light-gray;
  border-radius: 2px;
}

code, kbd, pre, samp {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}
