// Variables, Mixins
@import "variables.scss";
@import "mixins.scss";


.client {
	overflow: hidden;
}
.table-holder {
	background: #fff;
}
.table {
	a {
		color: #676a6c;
	}
	strong {
		display: block;
	}
	.client {
		font-size: 15px;
	}
	td {
		vertical-align: middle !important;
		padding: 16px !important;
	}
	th {
		padding: 16px !important;
	}
	.label-inactive {
		background-color: #a2acbd;
	}
	.label-primary {
		display: block;
		text-align: center;
		width: 50px;
		padding: 3px 5px;
	}
}
.breadcrumb {
	background-color: transparent;
}
.form-header {
	margin-bottom: 25px;
}